.nav {
	margin-right: auto;
}

.nav__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	padding: 0;
}

.nav__links li {
	list-style: none;
}

.nav__links a {
	text-decoration: none;
	color: var(--alt-blueLight);
	font-family: var(--font-family-public-regular);
	font-size: 15px;
	font-weight: 700;
	line-height: 100%;
	transition: color 0.3s ease-in-out;
}

.nav__links a:hover {
	color: var(--alt-blue);
}

@media (max-width: 1439px) {
	.nav {
		margin: 0;
		padding: 0;
	}

	.nav__links {
		justify-content: center;
		padding: 0;
	}
}
