.preFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 95px;
	padding-bottom: 95px;
}

.preFooter h4 {
	color: var(--alt-blue);
}

.preFooter .footnote {
	display: none;
}

@media (max-width: 1440px) {
	.preFooter {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
}
