.email-signup {
	display: flex;
	border-radius: 28px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.email-signup input {
	border: none;
	padding: 16px 24px;
	border-radius: 28px;
	margin-right: -40px;
	width: 225px;
}

.email-signup input::placeholder {
	color: var(--alt-blueLight);
	font-weight: 600;
}

.email-signup button {
	border: none;
	cursor: pointer;
	padding: 16px 24px;
}

.footnote {
	font-size: 14px;
	color: var(--alt-blueLight);
	padding-left: 24px;
	margin: 0;
}

.footnote a {
	color: var(--alt-blue);
	font-weight: 600;
	text-decoration: none;
}
