.about-copy {
	display: grid;
	grid-template-columns: 255px auto;
	gap: 30px;
	padding: 52px 0;
}

.about-copy h3 {
	color: var(--alt-blueDark);
	max-width: 730px;
}

.about-copy p {
	color: var(--alt-blueLight);
}

.img-banner {
	background: url('images/about/desktop/image-team-members.jpg') no-repeat
		center center;
	background-size: cover;
	width: 100%;
	max-width: 100%;
	padding: 250px 0;
	margin: 72px 0;
}

.about-stats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 20px;
}

.about-stats__column {
	border-top: 1px solid hsla(0, 0%, 59%, 0.25);
	border-bottom: 1px solid hsla(0, 0%, 59%, 0.25);
	padding: 16px 0;
}

.about-stats__column .description {
	color: var(--alt-blueLight);
}

.about-stats__column .stat {
	color: var(--dark-pink);
}

@media (max-width: 1440px) {
	.about-copy {
		display: grid;
		grid-template-columns: 223px auto;
		row-gap: 65px;
		padding: 52px 0;
	}

	.img-banner {
		background: url('images/about/tablet/image-team-members.jpg') no-repeat
			center center;
		background-size: cover;
		width: 100%;
		max-width: 100%;
		padding: 132px 0;
		margin: 72px 0;
	}
}

@media (max-width: 768px) {
	.about-copy {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		gap: 16px;
	}

	.about-copy h3 {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.18px;
	}

	.about-copy p {
		margin-bottom: 48px;
	}

	.about-copy p:last-of-type {
		margin-bottom: 0;
	}

	.about-stats {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		gap: 32px;
		padding: 16px 0;
		border-top: 1px solid hsla(0, 0%, 59%, 0.25);
		border-bottom: 1px solid hsla(0, 0%, 59%, 0.25);
	}

	.about-stats__column {
		border: none;
		padding: 0;
	}
}
