h2 {
	color: var(--alt-blue);
	margin-top: 80px;
}

.pricing__table {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 72px;
}

.pricing__table h3 {
	color: var(--dark-pink);
	margin-bottom: 16px;
}

.pricing__table .description {
	color: var(--alt-blueLight);
	margin-bottom: 8px;
}

.pricing__table .cost {
	color: var(--alt-blue);
	margin-bottom: 24px;
}

.pricing__table ul {
	border-top: 1px solid hsla(0, 0%, 59%, 0.25);
	border-bottom: 1px solid hsla(0, 0%, 59%, 0.25);
	padding: 24px 0;
	margin: 0 0 24px 0;
	width: 100%;
}

.pricing__table li {
	font-size: 16px;
	color: var(--alt-blueLight);
	list-style-type: none;
	padding-left: 0;
	display: flex;
	align-items: center;
}

.pricing__table li::before {
	background: hsl(207.3, 44%, 95.1%);
	display: block;
	content: '';
	height: 8px;
	width: 12px;
	margin-right: 22px;
}

.pricing__table li.included {
	color: var(--alt-blue);
}

.pricing__table li.included::before {
	background: url('/images/icon-check.svg') no-repeat center center;
}

.pricing-table a {
	display: inline-block;
}

@media (max-width: 1440px) {
	.pricing__table {
		text-align: center;
		gap: 10px;
	}
	.pricing__table h3 {
		font-size: 24px;
	}

	.pricing__table .description {
		margin-bottom: 19px;
	}

	.pricing__table .cost {
		font-size: 48px;
		color: var(--alt-blue);
		margin-bottom: 24px;
	}

	.pricing__table ul li {
		padding-left: 45px;
	}
}

@media (max-width: 768px) {
	.pricing__table {
		display: flex;
		flex-direction: column;
		gap: 48px;
		margin-top: 48px;
	}

	.pricing__table ul {
		margin-bottom: 24px;
	}

	.pricing__table ul li {
		padding-left: 0;
		max-width: 135px;
		margin: 0 auto;
	}

	.pricing__table a {
		display: inline-block;
	}
}
