.features {
	background: url('/images/bg-pattern-circle.svg') no-repeat top 50% right -390px;
}

.features .features-grid:first-of-type {
	padding-top: 145px;
}

.features .features-grid {
	display: grid;
	grid-template-columns: repeat(2, 48%);
	gap: 4%;
}

.features .features-grid h3 {
	color: var(--alt-blue);
}

.features .features-grid p {
	color: var(--alt-blueLight);
	text-wrap: balance;
}

.features .image {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.features img {
	max-width: 100%;
}

.features .image-l {
	align-items: start;
}

.features .image-r {
	align-items: end;
}

.features .copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.features-grid-three {
	padding-top: 145px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.features-grid-three img {
	margin-bottom: 35px;
}

.features-grid-three h4 {
	color: var(--alt-blue);
	font-weight: bold;
	margin-bottom: 16px;
}

.features-grid-three p {
	text-align: center;
	color: var(--alt-blueLight);
	letter-spacing: -0.12px;
}

@media (max-width: 1440px) {
	.features {
		background: none;
	}

	.features .features-grid {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 0;
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 60px;
	}

	.features .features-grid:first-of-type {
		padding-top: 60px;
	}

	.features .image {
		order: 1;
	}

	.features .copy {
		order: 2;
	}

	.features .image-l,
	.features .image-r,
	.features .copy {
		align-items: center;
		justify-content: center;
	}

	.features .image img {
		max-width: 425px;
	}

	.features .features-grid p {
		text-wrap: auto;
	}

	.features-grid-three {
		gap: 10px;
	}

	.features-grid-three .flex-center {
		justify-content: start;
	}
}

@media (max-width: 768px) {
	.features .features-grid {
		padding-left: 0;
		padding-right: 0;
	}

	.features .features-grid h3 {
		font-size: 36px;
		line-height: 36px;
		letter-spacing: -0.28px;
		margin-bottom: 24px;
	}

	.features .image img {
		margin-left: 40px;
	}

	.features .image-l img {
		max-width: 450px;
	}

	.features .image-r img {
		max-width: 420px;
	}

	.features-grid-three {
		display: flex;
		flex-direction: column;
		gap: 48px;
		padding-top: 80px;
	}
}
