.hero__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.hero__container-copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.hero__container h2 {
	color: var(--alt-blue);
	margin-bottom: 35px;
}

.hero__container-phone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}

@media (max-width: 1439px) {
	.hero__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero__container-phone {
		order: 1;
		align-items: center;
	}

	.hero__container-copy {
		order: 2;
		align-items: center;
		text-align: center;
		margin-bottom: 55px;
	}

	.hero-phone {
		width: 65%;
		position: relative;
		left: 20px;
	}

	.hero__container h2 {
		font-size: 48px;
		line-height: 56px;
		margin: 0 0 25px;
	}
}

@media (max-width: 720px) {
	.hero__container-copy {
		margin-bottom: 80px;
	}
	.hero__container h2 {
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 24px;
		letter-spacing: -0.25px;
	}

	.hero-phone {
		margin-left: 30px;
	}
}
