.wwww {
	background: var(--alt-blueDark) url('/images/bg-pattern-circle.svg') no-repeat
		left -160px top -240px;
}

.wwww__container {
	display: grid;
	grid-template-columns: 445px 1fr;
	gap: 115px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.wwww__container p {
	margin-bottom: 32px;
}

.wwww__container-copy h3 {
	color: #fff;
}

@media (max-width: 1440px) {
	.wwww {
		background-position: center top -540px;
	}
	.wwww__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 88px 115px;
		gap: 65px;
	}

	.wwww__container-copy {
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 0;
	}

	.wwww__container-copy h3 {
		font-size: 48px;
		line-height: 56px;
		margin: 0 0 25px;
	}

	.wwww__container-copy h3 .btn-secondary--light {
		padding: 16px 32px;
		line-height: 100%;
	}
}

@media (max-width: 768px) {
	.wwww__container {
		padding: 80px 24px;
	}

	.wwww__container-copy h3 {
		font-size: 32px;
		line-height: 36px;
		margin: 0 0 16px;
	}

	.wwww__container-copy p {
		color: hsla(207, 58%, 99%, 0.7);
		text-wrap: auto;
		margin-bottom: 60px;
	}
}
