h2 {
	color: var(--alt-blue);
	margin-top: 80px;
	text-wrap: balance;
}

.contact__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 45px 0;
	gap: 124px;
}

.contact__container-form form {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	max-width: 445px;
}

.contact__container-form input[type='text'],
.contact__container-form input[type='email'],
.contact__container-form textarea {
	padding: 16px 20px 16px 20px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid hsla(207, 33%, 32%, 0.5);
	width: 100%;
	margin-top: 20px;
}

.contact__container-form input[type='text']::placeholder,
.contact__container-form input[type='email']::placeholder,
.contact__container-form textarea::placeholder {
	color: hsla(207, 33%, 32%, 0.5);
}

.contact__container-form input[type='text']:focus,
.contact__container-form input[type='email']:focus,
.contact__container-form textarea:focus,
.contact__container-form input[type='text']:focus::placeholder,
.contact__container-form input[type='email']:focus::placeholder,
.contact__container-form textarea:focus::placeholder {
	outline: none;
	border-bottom: 1px solid hsl(207, 33%, 32%);
	color: hsl(207, 33%, 32%);
}

.contact__container-form .check-container {
	display: block;
	position: relative;
	padding-left: 43px;
	margin-top: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 150%;
}

.contact__container-form .check-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 10px;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: hsla(207, 33%, 32%, 0.25);
}

.contact__container-form .check-container:hover input ~ .checkmark {
	background-color: hsla(207, 33%, 32%, 0.25);
}

.contact__container-form .check-container input:checked ~ .checkmark {
	background-color: var(--dark-pink);
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.contact__container-form .check-container input:checked ~ .checkmark:after {
	display: block;
}

.contact__container-form .check-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.contact__container-form label {
	color: var(--alt-blue);
}

.contact__container-form button {
	margin-top: 20px;
}

.contact__container-copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.contact__container-copy p {
	color: var(--alt-blue);
	opacity: 0.75;
	margin-bottom: 40px;
}

.error {
	color: var(--error-red);
	font-size: 11px;
	margin-left: 20px;
}
