footer {
	background: var(--alt-blueDark) url('/images/bg-pattern-circle.svg') no-repeat
		top -125px right -390px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer__items {
	display: flex;
	justify-content: start;
	align-items: center;
}

.footer__items img {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
		hue-rotate(174deg) brightness(107%) contrast(96%);
}

.footer__items nav a {
	color: var(--alt-white);
	opacity: 0.7;
	transition: all 0.3s ease;
}

.footer__items nav a:hover,
.footer__items nav a:active {
	opacity: 1;
}

@media (max-width: 1440px) {
	.footer-logo-link {
		margin-right: 65px;
	}

	footer .nav {
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	footer {
		background-position: bottom -605px center;
	}
	.footer__items {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
	}

	.footer__items .footer-logo-link {
		margin: 0;
	}

	.footer__items .nav {
		margin: 0;
	}

	.footer__items .nav__links {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 35px;
	}
}
