:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dm-serif-display-regular {
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	font-style: normal;
}

.dm-serif-display-regular-italic {
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	font-style: italic;
}

.public-sans-regular {
	font-family: 'Public Sans', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.public-sans-bold {
	font-family: 'Public Sans', serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
